@page "/"
@using AzureStaticWebApps.Blazor.Authentication;
<PageTitle>Index</PageTitle>

<p>Hallo das ist ein Test! :) Ich hoffe, dass dieser klappt :-)</p>
@*<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="/.auth/logout?post_logout_redirect_uri=/">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login-providers">Log in</a>
    </NotAuthorized>
</AuthorizeView>*@