@using AzureTest.Shared.Model
@page "/Tickets"
<h3>Tickets</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Name</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in TicketHeaders)
        {
            <tr>
                <th scope="row">@TicketHeaders.IndexOf(ticket)</th>
                <td>@ticket.Title</td>
                <td>@ticket.ResponsibleContactName</td>
                <td>@ticket.State</td>
            </tr>
        }
    </tbody>
</table>



@code {

    [Inject] private HttpClient httpClient { get; set; }
    public List<TicketHeader>? TicketHeaders { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {

        var response = await httpClient.GetAsync(" http://localhost:7253/api/GetTicketHeaders");

        if (response.IsSuccessStatusCode)
        {
            TicketHeaders = await response.Content.ReadFromJsonAsync<List<TicketHeader>>();
        }
        else
        {
            throw new Exception($"Failed to fetch ticket headers. Status code: {response.StatusCode}");
        }
        await base.OnInitializedAsync();
    }

}
